
<p>ANGULAR</p>

<!-- Si pongo [] le estoy pasando una variable llamada name pero que es una variable definida en el typescript de app -->
<!-- <app-person [nameTest]="title" lastName ='test' [age]=0></app-person>  -->
<!-- solo age le pongo [] porque sino lo toma como scrypt. y la variable age está declarada como number -->
<!-- <app-person nameTest="JUAN" lastName ='PEREZ' [age]=25></app-person> -->

<app-person nameTest="MARIA" lastName ='PEREZ' [age]=20 (print)="getPrint($event)"></app-person>

<!-- el ? hace que si existe el value que lo pongo, pero que sino existe que no tire error -->
<p>{{person?.nombre}}</p> 
<p>{{person?.apellido}}</p>
<p>{{person?.edad}}</p>

<input type="text" [(ngModel)]="student" >
<p>{{student}}</p>


<!-- //Comunicación del html al ts -->
Last Name <input type="text" ngModel (ngModelChange)="getLastName($event)">

<!-- Levanto una variable local "name" que representa a este componente html -->
Name <input type="text" #name>
<button (click)="printName(name)">Print Name</button>